* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #2A7AE4;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
    --azulEscuro: #131a22;
    --azulMaisEscuro: #0a0e13;
    --laranjaTerra: #772a18;
    --laranja: #f88166;
    --laranjaRosado: #cea69d;
    --roxoEscuro: #392b41;
    --roxoClaro: #9d79ac;
    --magicGray: #141414;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

#root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
}